:root{
  --black: #222;
  --green: #a0ce4e;
  --gray: #aaa;
  --light-gray: #eee;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'tahoma';
  letter-spacing: 1px;
}
li{
  list-style: none;
  margin: 0px;
}
body{

}
main{
  width: 100%;
}
